#surcouche{
display: none;
position: fixed;
top: 0; right:0; bottom:0; left: 0;
background-color: rgba(0, 0, 0, 0.7);
z-index : 1000;
}
#case{
display : none;
}
#case:checked + #surcouche{
display: block;
}
label{
cursor: pointer;
}
.labelButon{
padding: 5px 10px;
background-color: #797E91;
color : #fff;
position: relative;
top: 270px;
left :300px;
z-index: 1005;

}
#msgbox{
width: 400px;
height: 300px;
padding: 15px;
position: absolute;
top: 25%;
left: 34%;
background-color: white;
border: 10px solid #aaa;
}

body {
  background-color :#4D505C;
  margin: 0;
  padding: 0;
}

h3 {
  text-align: center;
  color: white;
}

h4 {
  text-align: center;
  color: white;
}

img {
  padding-top: 5px;
}

 .presentation {
  display: block;
  margin-top:100px;
}
.menu {
  position: absolute, fixed;
  width: 100%;
  height: 80px;
  background-color: #9399B0;
  border-bottom: 3px solid #797E91 ;
}
.graphic {
  padding-left: 10px;
  margin-top: 5px;
}

.fix {
  margin-left: 5px;
  margin-top: 5px;
}
.menuconnex {
  float: right;
  text-align: right;
  margin-top: 30px;
  margin-right: 20px;
  font-size: 16px ;
  font-weight: bolder;
}

.menuinscri {
  float: left;
  margin-top: 30px;
  margin-left: 20px;
  font-size: 16px ;
  font-weight: bolder;
}

.img1 {
  float: left;
  margin-top: 70px ;
  margin-left: 5%;
}

.img_bureau{
  float: left;
  margin-top: 70px;
}

.img_salade {
  clear: both;
  float: left;
margin-left: 5%;
margin-top: -11px;
}

.img_communication {
  margin-top: -11px;
  float: left;
}
