#surcouche{
display: none;
position: fixed;
top: 0; right:0; bottom:0; left: 0;
background-color: rgba(0, 0, 0, 0.7);
z-index : 1000;
}
#case{
display : none;
}
#case:checked + #surcouche{
display: block;
}
.menuinscri {
  padding-left: 1000px;
}
label{
cursor: pointer;
}
.labelButon{
padding: 5px 10px;
background-color: #797E91;
color : #fff;
position: relative;
top: 270px;
left :300px;
z-index: 1005;

}
#msgbox{
width: 400px;
height: 300px;
padding: 15px;
position: absolute;
top: 25%;
left: 34%;
background-color: white;
border: 10px solid #aaa;
}

body {
  background-color :#4D505C;
  margin: 0;
  padding: 0;
}

h3 {
  margin-top: 100px;
  text-align: center;
  color: white;
}

h4 {
  text-align: center;
  color: white;
}
h5 {
  color: white;
  font-size: 22px;
}

h6 {
  font-size: 18px;
  font-weight: bold;
}
img {
  padding-top: 5px;
}
.presentation {
  height: 50px;
  width: auto;
  float: left;
  margin-left: 10%;
  margin-top: 80px;
}


.menu {
  position:fixed;
  width: 100%;
  height: 80px;
  background-color: #9399B0;
  border-bottom: 3px solid #797E91 ;
  margin-top: -100px;
}
.graphic {
  padding-left: 10px;
  margin-top: 5px;
}

.fix {
  margin-left: 5px;
  margin-top: 5px;
}
.menuconnex {
  float: right;
  text-align: right;
  margin-top: 30px;
  margin-right: 20px;
  font-size: 16px ;
  font-weight: bolder;
}

.menuinscri {
  float: left;
  margin-top: 30px;
  margin-left: 20px;
  font-size: 16px ;
  font-weight: bolder;
}

.img1 {
  background: #fff url('img/fitness-mistakes.png') top center;
  float: left;
  height: 395px;
  width: 600px;
  margin-top: 75px ;
  margin-left: 5%;
}
.prog{
  height: 100%;
  width: 100%;
  color: white;
  display: none;
}

.img1:hover .prog {
  display:block;
}


.img_bureau{
  background: #fff url('img/bureau.png') top center ;
  height: 395px;
  width: 595px;
  float: left;
  margin-top: 75px;
  background-repeat: no-repeat;
}
.note{
  height: 100%;
  width: 100%;
  color: white;
  display: none;
}

.img_bureau:hover .note {
  display:block;
  width: 300px;
  height: 300px;
}



.img_salade {
  background: #fff url('img/salade.png') top center;
  width: 600px;
  height: 400px;
  clear: both;
  float: left;
  margin-left: 5%;
  background-repeat: no-repeat;

}

.salade {
  width: 100%;
  height: 100%;
  display: none;
  color: black;
}

.img_salade:hover .salade {
  display: block;
}
.img_communication {
  background: #fff url('img/communication.png') top center;
  height: 400px ;
  width: 595px;
  float: left;
  margin-right: 15px;
}
.com {
  height: 100%;
  width: 100%;
  display: none;
  color: white;
}

.img_communication:hover .com {
  display: block;
}

.img_fitness_girl {
  float: left;
  height: 300px;
  width: 600px;
  margin-top: 30px;
  margin-left : 70px ;
}

.fitnesshf {
  float: left;
  height: 300px;
  width: 600px;
  margin-top: 35px;
  margin-right : 0px ;
  background: #fff url('img/fitnesshf.png') top center
}
